  <center><h3>Select a Category</h3></center>
<div id="tag_cloud" class="well">

  <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: "btn btn-default" %>
  <% end %>
</div>
