<h3 class="text-center"> Category : <%=@tag%></h3>


<%= will_paginate @question, class: "text-center"%>
<%= render 'questiontag', obj: @question, atm:@attempt%>
<%= will_paginate @question, class: "text-center" %>
